{% load core_tags i18n static wagtailcore_tags wagtailimages_tags %}

<nav aria-label="{% trans 'Page navigation' %}">
    <ul class="pagination__list academy__sans-serif mt-4">
        <li class="pagination__item mr-3">
            {% if all_content.has_previous %}
            {% combined_url_parameter request.GET page=all_content.previous_page_number as url_par %}
            <a class="pagination__link" aria-label="{% trans 'Previous page' %}" href="{{ url_par }}">
              <img class="pagination__icon--prev" src="{% static 'images/icon_pagination.svg' %}" alt="{% trans 'Previous page' %}"/>
            </a>
            {% endif %}
        </li>
        <li class="pagination__item">
            <div class="pagination-text">page {{ all_content.number }}{% trans ' of ' %}{{ all_content.paginator.num_pages }}</div>
        </li>
        <li class="pagination__item ml-3">
        {% if all_content.has_next %}
            {% combined_url_parameter request.GET page=all_content.next_page_number as url_par %}
            <a class="pagination__link" aria-label="{% trans 'Next page' %}" href="{{ url_par }}">
              <img class="pagination__icon--next" src="{% static 'images/icon_pagination.svg' %}" alt="{% trans 'Next page' %}"/>
            </a>
        {% endif %}
        </li>
    </ul>
</nav>
