{% load wagtailimages_tags %}
{% load wagtailcore_tags %}
{% load static %}

{% if value.image %}
<div class="row">
        <div class="col-sm-4">
            {% image value.image width-400 %}
        </div>
        <div class="col-sm-8">
            {{ value.text|richtext }}
            {% if value.author %}
                <div class="author">{{ value.author }}</div>
            {% endif %}
        </div>
</div>
{% else %}
    {{ value.text|richtext }}
    {% if value.author %}
        <div class="author">{{ value.author }}</div>
    {% endif %}
{% endif %}
