{% load i18n %}
<section class="full-width-insight" aria-labelledby="full-width-insight-{{ block.id }}">
    <h2 id="full-width-insight-{{ block.id }}" class="visually-hidden">{% trans "Insight banner" %}</h2>
    <div class="container">
        <ul class="full-width-insight__list">
            {% for item in value.items %}
                <li class="full-width-insight__item">
                    <article class="full-width-insight__column" aria-labelledby="full-width-insight-{{ block.id }}-{{ forloop.counter }}-value">
                        {% include "blocks/includes/insight_item_linked_headline.html" with item=item css_prefix="full-width-insight" block_uid=block.id item_index=forloop.counter %}
                    </article>
                </li>
            {% endfor %}
        </ul>
    </div>
</section>
