<h2>{{ value.headline }}</h2>

{% for item in value.teasers %}
{% if forloop.first %}<div class="row">{% endif %}
    <div class="col-md-6">
    {% if item.url %}
        <div class="fade-teaser">
            <a class="fade-teaser__link" href="{{ item.url }}">
                <span class="sr-only">{{ item.headline }}</span>
            </a>
            <div class="fade-teaser__body">
                <h3>{{ item.headline }}</h3>
                <p>{{ item.text }}</p>
            </div>
        </div>
    {% else %}
        <h3>{{ item.headline }}</h3>
        <p>{{ item.text }}</p>
    {% endif %}
    </div>

{% if forloop.counter|divisibleby:2 %}
</div>
<div class="row">
{% endif %}

{% if forloop.last %}</div>{% endif %}

{% endfor %}
