{% extends "base.html" %}
{% load wagtailimages_tags %}
{% load wagtailcore_tags %}
{% load static %}

{% block content %}
<div class="container">
	<div class="row row-centered">
	    <h1>{{ self.title }}</h1>
	</div>
	<div class="row row-centered">
	    <div class="col-md-8 col-md-offset-2">
            <p>{{ self.intro|richtext }}</p>
        </div>
	</div>
	{% include "persons/includes/person_list.html" %}
</div>

{% endblock %}

{% block pages_js %}
	<script type="text/javascript" src="{% static 'js/peoplefilter.js' %}"></script>
{% endblock %}