*.pyc
.DS_Store
*/settings/local.py
/static/
/website_wagtail/static
media/
db.sqlite3*
*.sqlite3
.idea/
.sass-cache/*
*.mo
/core/static/third-party/bower_components/
/node_modules/*
/pyvenv.cfg
/venv/
package-lock.json
.idea
