# Minimal requirements
Django==1.8.11
wagtail==1.3.1
django-bower==5.0.4
django-libsass==0.3

# Recommended components (require additional setup):
# psycopg2==2.5.2
# elasticsearch==1.1.1

# Recommended components to improve performance in production:
# django-redis-cache==0.13.0
# django-celery==3.1.10
