# Minimal requirements
Django==2.2.9 # pyup: <2.3
wagtail==2.7.1 # pyup: <2.8

bleach==3.1.0
brotli==1.0.7
django-bleach==0.5.1
django-cloudflare-push==0.2.0
django_csp==3.5
django-multiselectfield==0.1.12
django-sites==0.10
flake8==3.7.7
html5lib==1.0.1
isort==4.3.20
psycopg2-binary==2.8.2
wcag-contrast-ratio==0.9
whitenoise==4.1.4
raven==6.10.0
