# Minimal requirements
Django==3.2.13 # pyup: <3.3
wagtail==4.0.1

bleach[css]==5.0.1
brotli==1.0.9
django-bleach==3.0.0
django-cloudflare-push==0.2.2
django_csp==3.7
django-multiselectfield==0.1.12
django-sites==0.11
flake8==6.0.0
html5lib==1.1
isort==5.11.4
wcag-contrast-ratio==0.9
whitenoise==6.2.0
sentry-sdk==1.9.8
