{% extends "base.html" %}
{% load static wagtailcore_tags wagtailimages_tags wagtailembeds_tags i18n bleach_tags %}

{% block fb_meta_tags %}
    <meta property="og:type" content="article" />
    <meta property="og:title" content="{{ page.translated_title }}" />
    {% with description=page.translated_intro|richtext %}
    <meta property="og:description" content="{{ description|bleach }}" />
    {% endwith %}
{% endblock %}

{% block content %}
<div class="blog-entry">

<div class="container">
    <h1 class="h3">{{ self.translated_title }}</h1>
</div>

{% include 'includes/blocks.html' with blocks=self.body %}

{% if self.author %}
<div class="blog-entry__author">
    <p class="h2">{% trans 'by' %} {{ self.author}}</p>
</div>
{% endif %}


</div>


{% endblock %}
