{% load wagtailimages_tags %}

{% if value.person.email %}
<a class="person-list__person-link" href="mailto:{{ value.person.email }}">
{% endif %}
    <div class="person-list__person">
        <h4 class="person-list__person-name">{{ value.person.first_name }} {{ value.person.last_name }}</h4>

        {% if value.person.image %}
            {% image value.person.image fill-55x75 as photo %}
            <img src="{{ photo.url }}" alt="{{ photo.alt }}"  class="person-list__person-image" />
        {% endif %}
    </div>
{% if value.person.email %}
</a>
{% endif %}
