//
// Variables
// --------------------------------------------------


$block-offset: 8.5rem;


//
// Basic block classes
// --------------------------------------------------

.block {
	@extend .xs-pb-40;
	@extend .sm-pb-60;
	@extend .md-pb-85;

	margin-bottom: $block-offset;
}

//** Block background colors

.block-bg-green {
	background-color: #29CAC5;
}

.block-bg-orange {
	background-color: #FFB946;
}

.block-bg-red {
	background-color: #FF0047;
}



//
// Class definitions for specific block types
// --------------------------------------------------


.block-column {
	padding-bottom: 0px;
	div {
		padding-bottom: 5rem;
	}
}


.block-carousel {
	margin: 6rem 0;
}


.block-highlight {
	padding-top: 7rem;
	background-color: lightgrey;

	//** convert margin to padding for background-color
	margin-bottom: 0;
	padding-bottom: $block-offset;
}


.block-linkbox,
.block-highlight-paragraph {
	a {
		display: inline-block;
		min-width: 35rem;
		margin: 0.4rem auto;
	}

	.rich-text {
		margin-bottom: 9.5rem;
	}
}


.block-quote-paragraph {

	&.block-quote-noimage {
		height: 45rem;
		@media screen and (max-width: $screen-xs) {
			height: 40rem;
		}
	}

	position: relative;

	img {
		display: block;
		width: 100%;
		max-width: 100%;
		height: auto;
	}

	div.rich-text {
	    position: absolute;
		top: 50%;
		left: 50%;
		margin: 0;
		margin-right: -50%;
		text-align: center;
		-webkit-transform: translate(-50%,-50%);
		-moz-transform: translate(-50%,-50%);
		-ms-transform: translate(-50%,-50%);
		-o-transform: translate(-50%,-50%);
		transform: translate(-50%,-50%);
		width: 70%;
	}
	
	p {
		color: white;
		font-size: 4rem;
		line-height: 5rem;
		@media screen and (max-width: $screen-xs) {
			font-size: 3rem;
			line-height: 3.6rem;
		}
	}
	
}