//
// Variables
// --------------------------------------------------


$block-offset: 8.5rem;


//
// Basic block styles
// --------------------------------------------------

.block {
	margin-bottom: $block-offset;
}

//** Block background colors

.block-bg-green {
	background-color: #29CAC5;
}

.block-bg-orange {
	background-color: #FFB946;
}

.block-bg-red {
	background-color: #FF0047;
}



//
// Style definitions for specific block types
// --------------------------------------------------


.block-column {
	padding-bottom: 0px;
	div {
		padding-bottom: 5rem;
	}
}


.block-carousel {

	margin: 6rem 0;

	figure {
		padding: 0 10px;
		text-align: center;
		img {
			width: 100%;
			max-width: 450px;
			display: inline-block;
		}
	}
}


.block-highlight {
	padding-top: 7rem;
	background-color: lightgrey;

	//** convert margin to padding for background-color
	margin-bottom: 0;
	padding-bottom: $block-offset;
}


.block-linkbox,
.block-highlight-paragraph {

	a {
		display: inline-block;
		min-width: 35rem;
		margin: 0.4rem auto;
	}

	.rich-text {
		margin-bottom: 9.5rem;
	}
}


.block-quote-paragraph {

	position: relative;

	&.block-quote-noimage {
		height: 45rem;
		@media screen and (max-width: $screen-xs) {
			height: 40rem;
		}
	}

	img {
		display: block;
		width: 100%;
		max-width: 100%;
		height: auto;
	}
	
	p {
		color: white;
		font-size: 4rem;
		line-height: 5rem;
		@media screen and (max-width: $screen-xs) {
			font-size: 3rem;
			line-height: 3.6rem;
		}
	}

	div.rich-text {
	    @include center(70%);
	    @media screen and (min-width: $screen-md) {
	    	width: 50%;
	    }
	}
	
}