
//
// Button & link styles
// --------------------------------------------------


a {
	color: $link_color;
  	text-decoration: none;
}


button:focus, 
button:hover,
button:visited,
a:focus,
a:hover,
a:visited {
	outline: none;
	color: $link_color_hover;
	background-color: rgba(255,255,255,0.3);
	text-decoration: none;
}

.button {
	line-height: 7rem;
	padding: 0px 1.78571rem;
	transition: background-color 0.4s ease 0s;
	border: 1px solid $link_color;
	color: $link_color;
	display: inline-block;
}

.button-white {
	color: white !important;
	border-color: white !important;
}