//
// Document styles
// --------------------------------------------------

hmtl,body {
	font-family: 'Cabin', sans-serif !important;
	font-size: 62.5%;
	color: #898989;
}

@media screen and (max-width: $screen-xs) {
	html {
		font-size: 0.35rem;
	}
}
@media screen and (min-width: $screen-xs) and (max-width: $screen-xs-max) {
	html {
		font-size: 0.4rem;
	}
}
@media screen and (min-width: $screen-sm) and (max-width: $screen-sm-max) {
	html {
		font-size: 0.5rem;
	}
}
@media screen and (min-width: $screen-md) {
	html {
		font-size: 0.6rem;
	}
} 


//
// Basic HTML-Elements
// --------------------------------------------------


body,h5,p,ul,ol,li,div,span,a {
	font-size: inherit;
}

body,p,li,div,span {
	//** although we do not officially support old IE versions, this is an easy fallback for basic font sizes with rem
	font-size: 17px; font-size: $font-size;
}
@media screen and (max-width: $screen-xs) {
	body,p,li,div,span {
		font-size: 3.0rem;
		line-height: 4rem;
	}
}
@media screen and (min-width: $screen-xs) and (max-width: $screen-sm-max) {
	body,p,li,div,span {
		font-size: 2.2rem;
		line-height: 3rem;
	}
}


//** Headings 

h1,h2,h3,h4,h5 {
	color: #4D4D4D;
}

h1 {
	@extend .resetMargin;
	
	padding-bottom: 3.5rem;
	text-align: center;
	font-size: 45px; font-size: 4.5rem;
	line-height: 5.4rem;
}

h2 {
	@extend .resetMargin;
	padding-bottom: 3.5rem;

	font-size: 35px; font-size: 3.5rem;
	@media screen and (max-width: $screen-xs) {
		font-size: 40px; font-size: 4rem;
		line-height: 4.4rem;
	}
}

h3 {
	@extend .resetMargin;

	font-size: 30px; font-size: 3rem;
	line-height: 3.7rem;
	padding-bottom: 5.5rem;
	@media screen and (max-width: $screen-xs) {
		font-size: 34px; font-size: 3.4rem;
		line-height: 4rem;
	}
}

h4 {
	@extend .resetMargin;
	padding-bottom: 3rem;

	font-size: 26px; font-size: 2.6rem;
	@media screen and (max-width: $screen-xs) {
		font-size: 40px; font-size: 4rem;
	}
}

h5 {
	@extend .resetMargin;
	padding-bottom: 2rem;

	font-size: 20px; font-size: 2rem;
	line-height: 2.4rem;
	@media screen and (max-width: $screen-xs) {
		font-size: 38px; font-size: 3.8rem;
		line-height: 4rem;
	}
	@media screen and (min-width: $screen-xs) and (max-width: $screen-sm-max) {
		font-size: 26px; font-size: 2.6rem;
		line-height: 3rem;
	}
}


//
// Basic layout styles
// --------------------------------------------------

#main.container,
#main .container {
	width: 100%;
	text-align:center;
}

.content {
	margin-bottom: 4.5rem
}

.contentwrapper {
	max-width: 1170px;
	display: inline-block;
	text-align: center;

	@media screen and (max-width: $screen-xs-max) {
		padding: 0 5%;
		// background-color: green;
	}
}

.contentwrapper.fullwidth {
	width: 100%;
	padding: 0;
}

.contentwrapper.text {
	padding: 0 15%;
}


//
// Helper classes
// --------------------------------------------------

// remove margin from last paragraph
.block,
.simpleheader,
.teaser {
	.rich-text {
		p:last-of-type {
			margin-bottom: 0px;
		}
	}
}

//** reset margin if needed
.resetMargin {
	margin:0px;
}