hmtl,body {
	font-family: 'Cabin', sans-serif !important;
	font-size: 62.5%;
	color: #898989;
}

@media screen and (max-width: $screen-xs) {
	html {
		font-size: 0.35rem;
	}
}
@media screen and (min-width: $screen-xs) and (max-width: $screen-xs-max) {
	html {
		font-size: 0.4rem;
	}
}
@media screen and (min-width: $screen-sm) and (max-width: $screen-sm-max) {
	html {
		font-size: 0.5rem;
	}
}
@media screen and (min-width: $screen-md) {
	html {
		font-size: 0.6rem;
	}
} 



body,h5,p,ul,ol,li,div,span,a {
	font-size: inherit;
}

body,p,li,div,span {
	// although we do not officially support old IE versions, this is an easy fallback for basic font sizes with rem
	font-size: 17px; font-size: $font-size;
}
@media screen and (max-width: $screen-xs) {
	body,p,li,div,span {
		// background-color: green;
		font-size: 3.0rem;
		line-height: 4rem;
	}
}
@media screen and (min-width: $screen-xs) and (max-width: $screen-sm-max) {
	body,p,li,div,span {
		// background-color: green;
		font-size: 2.2rem;
		line-height: 3rem;
	}
}

h1,h2,h3,h4,h5 {
	color: #4D4D4D;
}

h1 {
	@extend .resetMargin;
	/* @extend .xs-pb-10;
	@extend .sm-pb-20;
	@extend .md-pb-35; */
	
	padding-bottom: 3.5rem;
	text-align: center;
	font-size: 45px; font-size: 4.5rem;
	line-height: 5.4rem;

	// @media screen and (max-width: $screen-xs) {
	// 	font-size: 28px; font-size: 2.8rem;
	// 	line-height: 4rem;
	// }

	// @media screen and (min-width: $screen-xs) and (max-width: $screen-xs-max) {
	// 	font-size: 36px; font-size: 3.6rem;
	// 	line-height: 5rem;
	// }
}

h2 {
	@extend .resetMargin;
	padding-bottom: 3.5rem;

	font-size: 35px; font-size: 3.5rem;
	@media screen and (max-width: $screen-xs) {
		font-size: 40px; font-size: 4rem;
		line-height: 4.4rem;
	}
	/* @media screen and (min-width: $screen-xs) and (max-width: $screen-xs-max) {
		font-size: 36px; font-size: 3.6rem;
		line-height: 5rem;
	} */
}

h3 {
	@extend .resetMargin;

	font-size: 30px; font-size: 3rem;
	line-height: 3.7rem;
	padding-bottom: 5.5rem;
	@media screen and (max-width: $screen-xs) {
		font-size: 34px; font-size: 3.4rem;
		line-height: 4rem;
	}
	// @media screen and (min-width: $screen-xs) and (max-width: $screen-xs-max) {
	// 	font-size: 25px; font-size: 2.5rem;
	// 	line-height: 2.8rem;
	// }
}

h4 {
	@extend .resetMargin;
	padding-bottom: 3rem;

	font-size: 26px; font-size: 2.6rem;
	@media screen and (max-width: $screen-xs) {
		font-size: 40px; font-size: 4rem;
	}
}

h5 {
	@extend .resetMargin;
	padding-bottom: 2rem;

	font-size: 20px; font-size: 2rem;
	line-height: 2.4rem;
	@media screen and (max-width: $screen-xs) {
		font-size: 38px; font-size: 3.8rem;
		line-height: 4rem;
	}
	@media screen and (min-width: $screen-xs) and (max-width: $screen-sm-max) {
		font-size: 26px; font-size: 2.6rem;
		line-height: 3rem;
	}
}

.content {
	margin-bottom: 4.5rem
}

.contentwrapper {
	padding: 0 15%;

	@media screen and (max-width: $screen-xs-max) {
		padding: 0 5%;
		// background-color: green;
	}
	// @media screen and (min-width: $screen-sm) and (max-width: $screen-md-max){
	// 	padding: 0 15%;
	// 	// background-color: yellow;
	// }
// 	@media screen and (min-width: $screen-md) {
// 		padding: 0 15%;
// 		// background-color: lightblue;
// 	}
}

.content-fullwidth {
	padding-left: 0px;
	padding-right: 0px;
}

// use this is pageheaders and block elements with background-color
/* .paddingTop {
	@extend .xs-pt-30;
	@extend .sm-pt-50;
	@extend .md-pt-70;
} */


.block,
.simpleheader,
.teaser {
	.rich-text {
		p:last-of-type {
			margin-bottom: 0px;
		}
	}
}

.resetMargin {
	margin:0px;
}