//
// Document styles
// --------------------------------------------------

hmtl,body {
	font-family: 'Cabin', sans-serif !important;
	font-size: 62.5%;
	color: $text-color;
}

//
// Basic HTML-Elements
// --------------------------------------------------

body,h5,p,ul,ol,li,div,span,a {
	font-size: inherit;
}

body,p,li,div,span {
	//** although we do not officially support old IE versions, this is an easy fallback for basic font sizes with rem
	font-size: 17px; font-size: $font-size;
}


//** Headings

h1,h2,h3,h4,h5 {
	color: $headline-color;
}

h1 {
	@extend .resetMargin;

	padding-bottom: 3.5rem;
	text-align: center;
	font-size: 45px; font-size: 4.5rem;
	line-height: 5.4rem;
}

h2 {
	@extend .resetMargin;
	padding-bottom: 3.5rem;

	font-size: 35px; font-size: 3.5rem;
}

h3 {
	@extend .resetMargin;

	font-size: 30px; font-size: 3rem;
	line-height: 3.7rem;
	padding-bottom: 5.5rem;
}

h4 {
	@extend .resetMargin;
	padding-bottom: 3rem;

	font-size: 26px; font-size: 2.6rem;
}

h5 {
	@extend .resetMargin;
	padding-bottom: 2rem;

	font-size: 20px; font-size: 2rem;
	line-height: 2.4rem;
}


//
// Basic layout styles
// --------------------------------------------------

.content {
    margin-top: $navbar_height;
    margin-bottom: $footer_height;
}

.contentwrapper {
	max-width: 1170px;
	margin-left: -15px;
	margin-right: -15px;
}

.contentwrapper.fullwidth {
	max-width: 100%;
	margin: 0;
	overflow: hidden;
}

.contentwrapper.text {
	padding: 0 15%;
}


//
// Responsive view basic styles
// --------------------------------------------------

//** phone view
@media screen and (max-width: $screen-xs) {

	html {
		font-size: 0.35rem;
	}

	body,p,li,div,span {
		font-size: 3.0rem;
		line-height: 4rem;
	}

	h2 {
		font-size: 40px; font-size: 4rem;
		line-height: 4.4rem;
	}

	h3 {
		font-size: 34px; font-size: 3.4rem;
		line-height: 4rem;
	}

	h4 {
		font-size: 40px; font-size: 4rem;
	}

	h5 {
		font-size: 38px; font-size: 3.8rem;
		line-height: 4rem;
	}

	.contentwrapper.text {
		padding: 0 5%;
	}
}

//** phablet view
@media screen and (min-width: $screen-xs) and (max-width: $screen-xs-max) {
	html {
		font-size: 0.4rem;
	}
	.contentwrapper.text {
		padding: 0 7%;
	}
}

//** tablet view
@media screen and (min-width: $screen-sm) and (max-width: $screen-sm-max) {
	html {
		font-size: 0.5rem;
	}
	.contentwrapper.text {
		padding: 0 10%;
	}
}

// phablet && tablet view
@media screen and (min-width: $screen-xs) and (max-width: $screen-sm-max) {

	body,p,li,div,span {
		font-size: 2.2rem;
	}

	h5 {
		font-size: 26px; font-size: 2.6rem;
		line-height: 3rem;
	}

}

//** desktop view
@media screen and (min-width: $screen-md) {
	html {
		font-size: 0.6rem;
	}
}


//
// Helper classes
// --------------------------------------------------

//** remove margin from last paragraph
.block,
.simpleheader,
.teaser {
	.rich-text {
		p:last-of-type {
			margin-bottom: 0px;
		}
	}
}

//** remove margin from last block
.content {
	> section:last-of-type {
		.block {
			margin-bottom: 0;
		}
	}
}


.resetMargin {
	margin:0px !important;
}