.error {

  margin-top: 311px;
  position: relative;

  @media screen and (max-width: $screen-xs-max) {
    margin-top: 80px;
  }

  .col-xs-4 {
    padding: 0;
  }

}

.error-text {

    @media screen and (max-width: $screen-xs-max) {
      margin-top: 0px;
    }

    @media screen and (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
      margin-top: 25px;
    }

    @media screen and (min-width: $screen-md-min) and (max-width: $screen-md-max) {
      margin-top: 50px;
    }

    @media (min-width: $screen-lg-min) {
      margin-top: 110px;
    }

    h1 {
      font-size: 72px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      @media screen and (max-width: $screen-xs-max) {
        font-size: 42px;
      }
    }

    h2 {
      font-size: 32px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      @media screen and (max-width: $screen-xs-max) {
        font-size: 24px;
      }
    }

    p {
      font-size: 18px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      color: #898989;
    }
}