//
// Footer styles
// --------------------------------------------------

#footer {

    .navbar {
        background-color: $footer_background_color;
        @include border-radius(0);
        border: 0 none;
        margin: 0;
    }

    a {
        color: $footer_color;
        font-size: $footer_font_size;

        &:hover {
            background-color: $footer_background_color;
            color: $footer_highlight_color;
        }
    }

    .social-sites a {
        line-height: $footer_height;
        font-size: 2rem;
        padding: 0 5px;
    }
    
}

.back-to-top {

    display: none;
    position: fixed;
    margin: 0;
    bottom: 0;
    right: 0;
    color: white;
    background-color: $footer_background_color;
    font-size: 2.5rem;
    line-height: 10rem;
    padding: 0% 3%;
    opacity: 0.9;
    border-top-left-radius: 2rem;

    &:hover, 
    &:focus,
    &:visited {
        color: white;
        background-color: $footer_background_color;
        transition: none;
    }

}

.back-to-top i {
    padding-right: 1rem;
}