//
// basic styles unfinished pages
// TODO: refactor styles when pages reach final build stage
// --------------------------------------------------

.rich-text img {
    max-width: 100%;
    height: auto;
}

.responsive-object {
    position: relative;
}

.responsive-object iframe,
.responsive-object object,
.responsive-object embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.wagtail-userbar {
   top: 100px !important;

}

.person_page_circular_image {
	width: 300px;
	height: 300px;
	border-radius: 150px;
	-webkit-border-radius: 150px;
	-moz-border-radius: 150px;
}

.person_index_page_circular_image {
	width: 100px;
	height: 100px;
	border-radius: 50px;
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
}

.person_list {
	margin-top: 50px;
	margin-bottom: 100px;
}

.person_list_grey {
  padding-top: 7rem;
  background-color: $highlight-section-color;
}

.person_list_white {
  background-color: #fff;
}

.article_list {
	margin-top: 50px;
	margin-bottom: 100px;
}

.person_list_person {
	margin-bottom: 80px;

  h4 {
    font-size: 18px;
    padding-top: 15px;
    padding-bottom: 0;
  }

  p {
    font-size: 15px;
  }

  .no-image {
    margin-top: 100px;
  }
}

.person_list_choice {
	margin-right: 20px;
}

.row-centered {
    text-align:center;
}
.col-centered {
    display:inline-block;
    float:none;
    text-align:left;
    margin-right:-4px;
}


.blog_page_title_metainfo {
	margin-top: 40px;
	margin-bottom: 95px;
	font-family: 'Open Sans';
	color: $headline_color;
	font-size: 20px;
}

.paragraph{
	font-family: 'Open Sans';
	padding-bottom: 40px;
	font-size: 18px;
	color: $headline_color
}

.paragraph2{
	background-color:#FE9A2E;
	padding:80px;
	margin-bottom: 60px;
}

.paragraph_title{
	font-family: 'Open Sans';
	color: #2A8FE1;
	font-size: 60px;
}

.btn {border-radius: 0;}

.btn-default {
	border: 1px solid #000000;
}

.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open > .dropdown-toggle.btn-primary {
    background-color: #ffffff;
    border: 1px solid #000000;
}

.list-group-item {
	border: none;
}
