

// ******************** 
// Typography
$font-size: 1.7rem;


// ******************** 
// navbar

$navbar-height: 65px;
$navbar_background_color: #FFFFFF;
$navbar_border_color: #E7E7E7;
// $navbar_menu_font_size: 1.4rem;
$navbar_menu_font_size: 14px;
$navbar_mobile_font_size: 20px;

$navbar_dropdown_menu_background_color: #112233;
$navbar_dropdown_menu_padding: 15px;