$body-bg: #fbfbfb;
$body-color: #060606;
$inverse-bg: $body-color;
$inverse-color: $body-bg;

$link-color: $body-color;
$link-decoration: underline;
$link-hover-color: lighten($link-color, 15%);

$font-size-base: 1.4375rem; // Assumes the browser default, typically `16px`
$font-size-lg: 1.4375rem;
$font-size-sm: 1rem;
$font-size-xs: .8rem;

$line-height-base: 1.4;

$headings-margin-bottom: 4em;

$lead-font-size: 1.78rem;
$lead-font-weight: 400;

$grid-gutter-width-base: 2.6em;
$grid-gutter-widths: (
  xs: $grid-gutter-width-base / 2,
  sm: $grid-gutter-width-base / 2,
  md: $grid-gutter-width-base,
  lg: $grid-gutter-width-base,
  xl: $grid-gutter-width-base
);

$container-max-widths: (
    sm: 23.47em,
    md: 31.3em,
    lg: 41.7em,
    xl: 41.7em
);
