{% load i18n %}
<section class="container">
        <div class="contentwrapper text">
            <div class="blog-list-tag">
                <div class="blog-list-tag-title">
                {% trans "Read our latest blogposts" %}
                </div>
                <div class="row">
                    <div class="col-md-6">
                    {% include "blog/includes/blog_list_item.html" with  blog=blog_entries.0 %}
                    </div>
                    <div class="col-md-6">
                    {% include "blog/includes/blog_list_item.html" with  blog=blog_entries.1 %}
                    </div>
                </div>
            </div>
        </div>
</section>