{% extends "base.html" %}
{% load i18n static wagtailcore_tags %}

{% block fb_meta_tags %}
{% endblock %}

{% block content %}



<section class="container blog-list item-list">

    {% trans 'all topics' as all %}
    <div class="container">
        <div class="filter-line filter-line--centered">
            <h1 class="filter-line__prefix">{% trans 'Posts related to' %}</h1>
            <button class="filter-line__current">{% firstof category all %}</button>
            <ul class="filter-line__list">
            {% for categ in self.categories %}
                <li class="filter-line__item{% if categ.pk == category.pk %} filter-line__item--active{% endif %}">
                {% if categ.pk == category.pk %}
                    {{ categ.translated_name }}
                {% else %}
                    <a class="filter-line__link" href="?category={{ categ.pk }}&year={{ year }}">
                        {{ categ.translated_name }}
                    </a>
                {% endif %}
                </li>
            {% endfor %}
                <li class="filter-line__item{% if not category %} filter-line__item--active{% endif %}">
                    {% if not category %}
                        {{ all }}
                    {% else %}
                        <a class="filter-line__link" href="?year={{ year }}">
                            {{ all }}
                        </a>
                    {% endif %}
                </li>
            </ul>
            <span class="h1">{% trans 'from' %}</span>
            <button class="filter-line__current">{% firstof year self.years.first.year %}</button>
            <ul class="filter-line__list">
                {% for year_ in self.years %}
                    <li class="filter-line__item{% if year_ == year %} filter-line__item--active{% endif %}">
                    {% if year_ == year%}
                        {{ year_.year }}
                    {% else %}
                        <a class="filter-line__link" href="?year={{ year_.year }}&category={{ category.pk }}">
                            {{ year_.year }}
                        </a>
                    {% endif %}
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>

    {% for blog in blogs %}
    {% include "blog/includes/blog_list_item.html" with  blog=blog %}
    {% endfor %}
</section>

{% if blogs.has_next %}
<div class="load-more">
    <button class="h2">{% trans 'load more' %}</button>
</div>
{% endif %}

{% endblock %}
