{% load i18n %}
<div class="container">
    <dl class="fact-list">
        {% if page.external_url %}
        <dt>{% trans 'URL' %}:</dt>
        <dd><a href="{{ page.external_url }}">{{ page.external_url }}</a></dd>
        {% endif %}
        {% if page.timescale %}
        <dt>{% trans 'year' %}:</dt>
        <dd>{{ page.timescale }}</dd>
        {% endif %}
        {% if page.user_count %}
        <dt>{% trans 'users' %}:</dt>
        <dd>{{ page.user_count }}</dd>
        {% endif %}
        {% if page.partner %}
        <dt>{% trans 'partners' %}:</dt>
        <dd>{{ page.partner }}</dd>
        {% endif %}
    </dl>
</div>
