{% extends "base.html" %}

{% load static i18n core_tags projects_tags blog_tags %}

{% block fb_meta_tags %}
	<meta property="og:type" content="website" />
	<meta property="og:title" content="{% trans 'Homepage of Liquid Democracy' %}" />
	<meta property="og:description" content="{% trans 'Our mission is to promote the advantages of online participation in all kinds of contexts, from international organisations to small local initiatives.' %}" />
	<meta property="og:image" content="{{ request.get_host }}{% static 'images/liquid_default.jpg' %}" />
{% endblock %}

{% block body_class %}template-{{ self.get_verbose_name|slugify }}{% endblock %}

{% block content %}

{% include "core/includes/homepage_header.html" %}

{% for block in page.body %}
    {% if block.block_type == 'project_teaser' %}
    	{% project_teaser block.value request %}
    {% else %}
        {{ block }}
    {% endif %}
{% endfor %}

{% blog_entries %}

{% endblock %}
