{% extends "base.html" %}
{% load wagtailimages_tags %}
{% load wagtailcore_tags %}
{% load static core_tags %}
{% load static %}
{% load compress %}

{% block extra_css %}
{% compress css %}
	<link rel="stylesheet" type="text/x-scss" href="{% static 'css/press.scss' %}">
{% endcompress %}
{% endblock %}

{% block content %}
<div class="container">
	<div class="row row-centered">
	    <h1>{{ self.title }}</h1>
	</div>
	<div class="row row-centered">
	    <div class="col-md-6 col-md-offset-3">
            <p>{{ self.intro|richtext }}</p>
        </div>
	</div>
	{% press_snippets %}
</div>
{% endblock %}


