{% extends "base.html" %}
{% load wagtailimages_tags %}
{% load wagtailcore_tags %}
{% load static %}

{% block fb_meta_tags %}
	<meta property="og:type" content="article" />
	<meta property="og:title" content="{{ page.translated_title }}" />
	<meta property="og:image" content="{{ request.get_host }}{% static 'images/liqd_homepage.png' %}" />
{% endblock %}

{% block content %}

{% include "core/includes/streamfieldpage_simpleheader.html" %}

<div class="container">
	<div class="contentwrapper text">
		<div class="textpage">
			{{ page.body|richtext }}
		</div>
	</div>
</div>

{% endblock %}