{% load static i18n %}
{% get_current_language as LANGUAGE_CODE %}

<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
    <head>
        <meta charset="utf-8" />
        <title>Internal server error</title>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="{% static 'all.css' %}">
    </head>
    <body>
        <div class=container-fluid>
            <div class="row">
                <div class="col-md-5 col-xs-4">
                    <img class="image-left img-responsive" src="{% static 'images/kabel01.png' %}">
                </div>
                <div class="col-md-2 col-xs-4">
                    <div class="text-center error-text">
                        <h1>500</h1>
                    </div>
                </div>
                <div class="col-md-5 col-xs-4">
                    <img class="image-left pull-right img-responsive" src="{% static 'images/kabel02.png' %}">
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-4 col-xs-8 text-center">
                        <h2>{% trans 'Oh no, something went wrong!' %}</h2>
                        <p>{% trans 'Internal Server Error. Please try again soon.' %}</p>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
