{% load i18n static wagtailuserbar core_tags %}


<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <title>{% block title %}{% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}{% endblock %}{% block title_suffix %}{% endblock %} | Liquid Democracy</title>
        <meta name="description" content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta property="og:url" content="{{ request.build_absolute_uri }}" />
        {% block fb_meta_tags %}{% endblock %}

        {# External stylesheets #}
        <link rel="stylesheet" href="{% static 'all.css' %}">

        {% block extra_css %}

        {% endblock %}
    </head>

    <body class="{% block body_class %}{% endblock %}">

        {% wagtailuserbar 'bottom-right' %}
        <div {% block menu-color %}{% endblock %}>
            {% include "navbar-simple.html" %}
        </div>

        <div class="content">
            {% block content %}
            {% endblock %}
        </div>

        {% include "footer.html" %}

        <script type="text/javascript" src="{% static 'vendor.js' %}"></script>
        <script type="text/javascript" src="{% static 'all.js' %}"></script>

        {% block extra_js %}
        {% endblock %}

    </body>
</html>
