{% load i18n %}
{% load wagtailcore_tags core_tags %}
{% load static from staticfiles %}
{% load_site_menu "footer" as footer_menu_items %}


<footer id="footer" class="footer">
    <nav class="navbar navbar-toggleable-sm">
        <ul class="nav navbar-nav">
            {% for menuitem in footer_menu_items %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ menuitem.url }}">{{ menuitem.translated_menu_title }}</a>
                </li>
            {% endfor %}
        </ul>
        <ul class="navbar-nav ml-sm-auto">
            {% if settings.core.SocialMediaSettings %}
                {% if settings.core.SocialMediaSettings.facebook %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{settings.core.SocialMediaSettings.facebook}}">Facebook</a>
                    </li>
                {% endif %}

                {% if settings.core.SocialMediaSettings.twitter %}
                <li class="nav-item">
                    <a class="nav-link" href="https://twitter.com/{{settings.core.SocialMediaSettings.twitter}}">Twitter</a>
                </li>
                {% endif %}

                {% if settings.core.SocialMediaSettings.github %}
                <li class="nav-item">
                    <a class="nav-link" href="{{settings.core.SocialMediaSettings.github}}">Github</a>
                </li>
                {% endif %}

                {% if settings.core.SocialMediaSettings.vimeo %}
                <li class="nav-item">
                    <a class="nav-link" href="{{settings.core.SocialMediaSettings.vimeo}}">Vimeo</a>
                </li>
                {% endif %}
            {% endif %}
        </ul>
    </nav>
</footer>
