{% load i18n %}
{% load wagtailcore_tags core_tags %}
{% get_current_language as LANGUAGE_CODE %}
{% load_site_menu "footer" as footer_menu_items %}
{% load_site_menu "mainmenu" as main_menu_items %}
{% load_site_menu "mainmenu-dropdown-software" as software_menu_items %}
{% get_available_languages as languages %}

<nav id="mainmenu" class="header navbar navbar-toggleable-sm">
    <a class="header__brand navbar-brand" href="/{{LANGUAGE_CODE}}/">Liquid Democracy e.V.</a>
    <button type="button" class="header__bar__toggle navbar-toggler" data-toggle="collapse" data-target="#navbar-main" aria-controls="navbar-main" aria-expanded="false">
        <span class="sr-only">Navigation an/aus</span>
        <span class="header__bar-icon header__bar-icon--first"></span>
        <span class="header__bar-icon header__bar-icon--second"></span>
        <span class="header__bar-icon header__bar-icon--third"></span>
    </button>
    <div class="header__menu navbar-collapse collapse" id="navbar-main">
        <ul class="navbar-nav">

            {% for menuitem in main_menu_items %}
                <li class="nav-item">
                    <a class="nav-link header__link{% if request.path == menuitem.url %} active{% endif %}" href="{{ menuitem.url }}">
                        {{ menuitem.translated_menu_title }}
                    </a>
                </li>
            {% endfor %}

            <li class="select-lang nav-item hidden-xs-down">
                {% if LANGUAGE_CODE == 'de' %}
                    <span class="nav-link active">De</span>
                {% else %}
                    <a class="nav-link header__link" href="{% translate_url 'de' %}">De</a>
                {% endif %}
            </li>
            <li class="select-lang nav-item hidden-xs-down">
                {% if LANGUAGE_CODE == 'en' %}
                    <span class="nav-link active">En</span>
                {% else %}
                    <a class="nav-link header__link" href="{% translate_url 'en' %}">En</a>
                {% endif %}
            </li>

            <li class="hidden-sm-up">
                <div id="select-lang-mobile" class="styled-select">
                    <select class="select-lang button">
                        <option value="" disabled="disabled" selected="selected">Select language</option>
                        <option value="de">Deutsch</option>
                        <option value="en">English</option>
                    </select>
                </div>
            </li>

        </ul>
    </div>
</nav>
