{% load i18n %}
{% load wagtailcore_tags core_tags static %}
{% get_current_language as LANGUAGE_CODE %}
{% load_site_menu "mainmenu" as main_menu_items %}
{% load_site_menu "mainmenu-dropdown-software" as software_menu_items %}
{% get_available_languages as languages %}

<nav id="main-menu" class="header navbar navbar-expand-md">
    <div class="container-fluid">
        <a class="header__brand navbar-brand" href="/{{LANGUAGE_CODE}}/">
            <canvas class="header__brand-canvas" id="header-canvas" role="img" aria-label="Liquid Democracy"></canvas>
            <img src="{% static 'images/logo.png' %}" class="header__brand-label" alt="Liquid Democracy">
        </a>
        <button class="header__bar__toggle navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-main" aria-controls="navbar-main" aria-expanded="false" aria-label="Toggle navigation">
            <span class="header__toggle-open">{% trans 'Menu' %}</span>
            <span class="header__toggle-close">{% trans 'Close' %}</span>
        </button>
        <div class="header__menu navbar-collapse collapse" id="navbar-main">

            <ul class="navbar-nav header__menu-list">

                {% for menuitem in main_menu_items %}
                    {% if menuitem.subpages %}
                        <li class="nav-item">
                            <button class="nav-link header__link{% if request.path == menuitem.url %} active{% endif %}" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                              {{ menuitem.translated_menu_title }}
                            </button>
                            <ul class="header__submenu-list collapse" id="collapseExample">
                                {% for subpage in menuitem.subpages %}
                                <li class="nav-item">
                                    <a class="dropdown-item nav-link header__link{% if request.path == subpage.value.link.url %} active{% endif %}" href="{{ subpage.value.link.url }}">
                                    {{ subpage.value.translated_link_text }}
                                    </a>
                                </li>
                                {% endfor %}
                            </ul>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link header__link{% if request.path == menuitem.url %} active{% endif %}" href="{{ menuitem.url }}">
                                {{ menuitem.translated_menu_title }}
                            </a>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>

            <div class="lang-switch hidden-xs-down" id="lang-switch">
                <button class="lang-switch__active">
                    {{ LANGUAGE_CODE }}
                </button>
                <ul class="lang-switch__list">
                    <li>
                        <a class="lang-switch__link header__link"
                           href="{% translate_url 'de' %}"
                           {% if LANGUAGE_CODE == 'de' %}aria-selected="true"{% endif %}>
                            Deutsch
                        </a>
                    </li>
                    <li>
                        <a class="lang-switch__link header__link"
                           href="{% translate_url 'en' %}"
                           {% if LANGUAGE_CODE == 'en' %}aria-selected="true"{% endif %}>
                            English
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>
