{% load static wagtailcore_tags wagtailimages_tags wagtailembeds_tags i18n bleach_tags %}

<li class="col-12 col-sm-6 col-md-4 academy-list__item mb-4">
  <a href="{% if content.external_link %}
{{ content.external_link }} {% else %} {% pageurl content %}{% endif %}">
        <div>
            {% if content.get_academy_content_type_display %}
            <div class="academy__sans-serif text--upper mb-3">
                {{ content.get_academy_content_type_display }}
                {% if content.external_link %}
                    {% if content.academy_content_type %} · {% endif %}
                    {% trans 'external link' %}
                {% endif %}
            </div>
            {% else %}
            <div class="academy__spacer"></div>
            {% endif %}
            {% if content.tile_image %}
            {% image content.tile_image fill-500x350 as image %}
            <img class="mb-3" src="{{ image.url }}" alt="{{ image.alt }}" />
            {% else %}
            <img class="mb-3" src="{% static 'images/tile-backup.png' %}" alt="default background image" />
            {% endif %}
            <h3 class="mb-2">{{ content.translated_title }}</h3>
            <div class="academy__sans-serif">{{ content.topics }}</div>
            <div class="academy__sans-serif mb-4">{{ content.date }}</div>
        </div>
    </a>
</li>
