{% load static wagtailcore_tags wagtailimages_tags i18n %}

{% if link.url %}
    <div class="col-12 col-sm-6 col-md-4 academy-list__item">
        <a href="{% if link.external_link %}{{ link.external_link }} {% else %} {{ link.url }}{% endif %}">
          {% if link.get_academy_content_type_display %}
          <div class="academy__sans-serif text--upper mb-3">
            {% with content_type=link.academy_content_type %}
              {% if content_type == 'AR' %}
                {% trans 'Read this article' %}
              {% elif content_type == 'VD' %}
                {% trans 'Watch this video' %}
              {% else %}
                {{ link.get_academy_content_type_display }}
              {% endif %}
            {% endwith %}
          </div>
          {% else %}
          <div class="academy__spacer"></div>
          {% endif %}

            {% if link.tile_image %}
            {% image link.tile_image fill-500x350 as image %}
            <img class="mb-3" src="{{ image.url }}" alt="{{ image.alt }}" />
            {% else %}
            <img class="mb-3" src="{% static 'images/tile-backup.png' %}" alt="default background image"/>
            {% endif %}
            <div class="mb-5">{{ link.translated_title }}</div>
        </a>
    </div>
{% endif %}
