.arrow__container {
    position: relative;
    font-size: 1.2rem; //needed for smaller screens
}

.arrow__head {
    border: solid black;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 6px;
}

.arrow__tail {
    border: solid black;
    border-width: 0 0 2px 0;
    padding: 10px;
    position: absolute;
    top: -10.5px;
}

.arrow--right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.arrow--left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}

.arrow--up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}

.arrow--down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}
