//
// Basic block styles
// --------------------------------------------------

.block {
    margin-bottom: $spacer-v;
}

.block--paragraph {
    p:last-child {
        margin-bottom: 0;
    }
}

.collapse-mt + .collapse-mt {
    .block {
        margin-top: 0;
    }
}
