//
// Basic block styles
// --------------------------------------------------

.block {
    margin-bottom: $spacer-v;
}

.block--paragraph {
    p:last-child {
        margin-bottom: 0;
    }
}

.block--image {
    @include media-breakpoint-up(sm) {
        max-width: 80vw;

        &:nth-child(odd) {
            margin-left: auto;
        }
    }
}

.block--aligned_image--right {
    @include clearfix;

    .image-with-caption {
        float: right;
    }
}

.block--aligned_image--left {
    @include clearfix;

    .image-with-caption {
        float: left;
        text-align: right;
    }
}

.block--TeaserList {
    h2 {
        text-align: center;
    }

    a {
        text-decoration: none;
    }
}

.block--projects h2 {
    text-align: center;
}

.collapse-mt + .collapse-mt {
    .block {
        margin-top: 0;
    }
}
