.blog-list {
    h2 {
        text-align: center;
    }
}

.blog-list__item {
    margin-bottom: $spacer-v;
}

.blog-list__item-date {
    text-align: center;
}

.blog-list__item-title {
    text-decoration: none;
}
