.blog-entry {
    h2 {
        text-align: center;
    }

    .rich-text {
        h2,
        h3,
        h4,
        h5 {
            margin-bottom: 1.3em;

            font-size: 1em;
            font-family: $font-family-base;
            text-transform: none;
            text-align: left;
            letter-spacing: normal;
        }
    }
}

.blog-entry__author {
    text-align: center;
}
