.fact-list {
    overflow: hidden;

    dt {
        width: 6em;
        float: left;

        font-weight: 400;
    }

    dd {
        overflow: hidden;
        margin-bottom: 0.2em;
    }

    p {
        margin-bottom: 0;
    }
}
