.filter-line {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 7em;
}

.filter-line--centered {
    text-align: center;
}

.filter-line__prefix {
    margin-bottom: 0;
}

// prefix is a span, therefore not the first element and needs space to the left
span.filter-line__prefix {
    margin-left: 0.3em;
}

.filter-line__current {
    margin-left: 0.3em;
    padding: 0;

    font-size: $font-size-h1;
    text-decoration: underline;
}

.filter-line__current--active {
    display: none;
}

.filter-line__list {
    display: none;
    padding: 0;
    margin: 0 0 0 1.5em;

    text-align: left;
    list-style: none;
    vertical-align: middle;
}

.filter-line__list--active {
    display: block;
}

.filter-line__item--active {
    text-decoration: underline;
}

.filter-line__link,
.filter-line__link:hover,
.filter-line__link:focus {
    text-decoration: none;
}
