.footer {
    margin-top: $spacer-v;

    .navbar-nav {
        margin-bottom: 1em;
    }

    .navbar-nav .nav-link {
        padding: 0;
        border-bottom: 1px solid transparent;
        margin-right: 0.75em;

        font-family: $font-family-monospace;
        font-size: 0.8rem;
        text-decoration: none;

        &:hover,
        &:focus {
            border-bottom-color: $body-color;
        }
    }
}
