.home-logo {
    height: 70vh;
    width: 100vw;
}

.home-logo__canvas {
    position: fixed;
    top: 0;
    left: 0;

    transition: opacity 0.1s;
}

.home-logo__lead {
    margin-bottom: $spacer-v * 2;
}
