.image-with-caption {
    display: table;
}

.image-with-caption__caption {
    display: table-caption;
    caption-side: bottom;

    padding: 0 $spacer/2;
    margin-top: 1.25em;
    margin-bottom: 0;
    text-transform: none;

    @include media-breakpoint-down(sm) {
        font-size: 0.7em;
        line-height: 1.5;
    }
}
