.intro-screen {
    min-height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: $spacer-v;

    h1 {
        margin-bottom: 0;
    }
}

.project-page .intro-screen {
    text-align: center;
}
