@import "block-frame";

.block--simple_item {
    .simple-item-block {
        @include block-frame;
        border-color: $stroke-grey;
        display: block;
        text-decoration: none;
        transition: border-color 0.2s ease, padding 0.2s ease;
        word-break: break-word;

        &:hover,
        &:focus {
            border-color: $body-color;
            padding: $block-frame-padding 32px;
        }
    }
}

.simple-item-block__title {
    font-size: 1.2em;
    margin: 0;
}
