@import "block-frame";

.block--simple_item {
    .simple-item-block {
        @include block-frame;
        word-break: break-word;
    }
}

.simple-item-block__title {
    font-size: 1.2em;
    margin: 0;
}
