{% extends "base.html" %}
{% load i18n static wagtailcore_tags %}

{% block fb_meta_tags %}
{% endblock %}

{% block content %}

<section class="blog-list">


    <div class="container item-list">
        {% for academy in academy_pages %}
        <div class="blog-list__item fade-teaser">
            <a class="fade-teaser__link" href="{% pageurl academy %}">
                <span class="sr-only">{{ academy.translated_title }}</span>
            </a>
            <div class="fade-teaser__body">
                <h3 class="blog-list__item-title" id="academy-page-{{ academy.pk }}">{{ academy.translated_title }}</h3>
                {% if academy.translated_intro %}
                    {{ academy.translated_intro | richtext }}
                {% endif %}
            </div>
        </div>

        {% endfor %}
    </div>
</section>

{% if academy.has_next %}
<div class="load-more">
    <button class="h2">{% trans 'load more' %}</button>
</div>
{% endif %}

{% endblock %}
