{% extends "base.html" %}
{% load static wagtailcore_tags wagtailimages_tags wagtailembeds_tags i18n bleach_tags %}

{% block fb_meta_tags %}
    <meta property="og:type" content="article" />
    <meta property="og:title" content="{{ page.translated_title }}" />
    {% with description=page.translated_intro|richtext %}
    <meta property="og:description" content="{{ description|bleach }}" />
    {% endwith %}
{% endblock %}

{% block content %}
<div class="container">
    <a href="{{ page.get_parent.url }}" aria-label="{% trans 'To overview' %}">
      <div class="arrow__container ml-1 mb-4">
        <div class="arrow__head arrow--left"></div>
        <div class="arrow__tail"></div>
      </div>
    </a>
    <div class="academy__topic mb-4">{{ page.get_topics_display }} | {{ page.get_page_content_type_display }}</div>
    <h1>{{ page.translated_title }}</h1>
</div>

{% include 'includes/blocks.html' with blocks=self.body %}


<div class="cms__wrapper mt-5 mb-3">
    <div class="container pt-5 pb-5">
        {% if other_content %}
        <div class="row justify-content-md-center">
            <div class="col-12 col-md-10">
                <h2 class="cms__title--serif cms__title--underlined text-center">
                {% blocktrans with topics=page.get_topics_display %}More about {{ topics }}{% endblocktrans %}
                </h2>
            </div>
        </div>

        <div class="row justify-content-center justify-content-sm-start">
        {% for content in other_content %}
            <div class="col-12 col-md-4 cms-use-case__tile">
                <a class="cms__tile-link" href="{% pageurl content %}">
                    {% if content.tile_image %}
                    {% image content.tile_image fill-500x350 as image %}
                    <img src="{{ image.url }}" alt="{{ image.alt }}" />
                    {% endif %}
                    <div class="cms__text pt-4 text-muted cms__text--serif">
                    {% blocktrans with topics=content.get_topics_display %} {{ topics }}{% endblocktrans %}
                    </div>
                    <h3 class="cms__title--bold">{{ content.translated_intro|richtext }}</h3>
                    <h3 class="cms__title--bold">{{ content.date}}</h3>
                </a>
            </div>
        {% endfor %}
        </div>
        {% endif %}



{% if page.author %}
    <p class="h4">{% trans 'by' %} {{ page.author}}</p>
{% endif %}


{% endblock %}
