{% extends "base.html" %}
{% load i18n static wagtailcore_tags wagtailimages_tags %}

{% block fb_meta_tags %}

{% endblock %}
{% block body_class %}hero-bg{% endblock %}

{% block content %}
<section class="intro-screen simple-header-bg" style="color: {{ page.textcolor }}; background-image: linear-gradient(148deg, {{ page.color1 }}, {{ page.color2 }});">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-10">
                <h1>{{ page.translated_intro_text }}</h1>
                <div class="mt-md-5">
                    <a style="color: {{ page.textcolor }};" href="{{ page.intro_link.url }}">{{ page.translated_intro_link_text }}</a>
                </div>
            </div>
        </div>
    </div>
</section>

{% include 'includes/blocks.html' with blocks=self.body %}

{% endblock %}
