{% extends "base.html" %}
{% load static wagtailcore_tags wagtailimages_tags wagtailembeds_tags i18n bleach_tags %}

{% block fb_meta_tags %}
    <meta property="og:type" content="content" />
    <meta property="og:title" content="{{ page.translated_title }}" />
    {% with description=page.translated_intro|richtext %}
    <meta property="og:description" content="{{ description|bleach }}" />
    {% endwith %}
{% endblock %}

{% block content %}
<div class="container position-relative">
    <div class="row block">
        <div class="col-lg-9">
            <h1>
              {{ page.translated_title }}
            </h1>
            {% if page.translated_subtitle %}
            <div class="mb-3">
                {{ page.translated_subtitle }}
            </div>
            {% endif %}

            <div class="academy__sans-serif text--upper">
              {{ page.translated_completion_time }}
            </div>
        </div>
        <div class="col-lg-3 progress-circle__container">
            {% with number_of_steps=page.body|length %}
            <div class="progress-circle" data-progress="0" data-steps="0/{{ number_of_steps }}" style="--progress: 0deg;">
              0/{{ number_of_steps }}<span class="visually-hidden">{% trans 'steps of challenge completed' %}</span>
            </div>
            {% endwith %}
            <img class="progress-circle__arrow" src="{% static 'images/arrow_back.svg' %}" alt="{% trans 'Scroll to next step' %}"/>
        </div>
    </div>

    <div>
      {% for block in page.body %}
          {# the block's template can now refer to the variable 'index' and page.body counts the blocks #}
          {% include_block block with index=forloop.counter number_of_steps=page.body|length %}
      {% endfor %}
    </div>
    <div class="progress-circle__line"></div>

</div>

{% include 'includes/blocks.html' with blocks=self.teaser %}

{% endblock %}
