{% extends "base.html" %}
{% load i18n static wagtailcore_tags wagtailimages_tags %}

{% block fb_meta_tags %}

{% endblock %}

{% block content %}

<section class="academy-list">

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-10">
                <h1>{{ page.translated_title }}</h1>
                <div class="academy-list__intro">
                    {{ page.translated_intro | richtext }}
                </div>
            </div>
        </div>

        <div class="row justify-content-center">

            <!-- Tablet and desktop -->
            <div class="academy-list__filter--md col-lg-10 mb-5">
                <div class="academy-list__topic-parent">

                    {% for topic_key,topic_string in page.topics.items %}
                    <a class="academy-list__topic--link" href="?topic={{ topic_key }}&academy_content_type={{ academy_content_type }}&alphabetical={{ alphabetical }}">
                        <div class="academy-list__topic-square {% if topic == topic_key %}academy-list__topic-selected-square{% endif %}">
                            {% with 'images/'|add:topic_key|add:'-topic.svg' as topic_svg %}
                            <img class="m-auto" src="{% static topic_svg %}" alt="{{ topic }}" width="70" />
                            {% endwith %}
                            <div class="academy-list__topic mb-3">
                                {{ topic_string }}
                            </div>
                            <div class="{% if topic == topic_key %}academy-list__topic-selected-arrow{% endif %}"></div>
                        </div>
                    </a>
                    {% endfor %}
                </div>
            </div>

            <!-- Mobile filter -->
            <div class="filter-line academy-list__filter--sm col-12 mb-5">
                <div class="academy-list__topic-parent">
                    <button class="filter-line__current filter-line__current--small">{% firstof get_topic_display 'Select Topic' %}</button>
                    <ul class="filter-line__list">
                      {% for topic_key,topic_string in page.topics.items %}
                        <li class="filter-line__item {% if topic == topic_key %} filter-line__item--active{% endif %}">
                          {% if topic == topic_key %}
                            <span>{{ topic_string }}</span>
                          {% else %}
                            <a class="filter-line__link" href="?topic={{ topic_key }}&academy_content_type={{ academy_content_type }}&alphabetical={{ alphabetical }}">
                                {{ topic_string }}
                            </a>
                          {% endif %}
                        </li>
                      {% endfor %}

                        <li class="filter-line__item{% if not topic %} filter-line__item--active{% endif %}">
                        {% if not topic %}
                            <span>{{ all }}</span>
                        {% else %}
                            <a class="filter-line__link" href="?academy_content_type={{ academy_content_type }}&alphabetical={{ alphabetical }}">
                                {{ all }}
                            </a>
                        {% endif %}
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row filter-line academy-list__sorting">
            <div class="col-sm-6 col-lg-2 mb-4 px-0 px-sm-3">
                <div class="filter-line__prefix academy__sans-serif ml-1">{% trans 'Type of content:' %}</div>
                <button class="filter-line__current filter-line__current--small">{% firstof get_academy_content_type_display 'all' %}</button>
                <ul class="filter-line__list">
                  {% for type, type_string in page.academy_content_types.items %}
                    <li class="filter-line__item {% if type == academy_content_type %}filter-line__item--active {% endif %}">
                        {% if type == academy_content_type %}
                          <span>{{ type_string }}</span>
                        {% else %}
                          <a class="filter-line__link" href="?topic={{ topic }}&academy_content_type={{ type }}&alphabetical={{ alphabetical }}">
                              {{ type_string }}
                          </a>
                        {% endif %}
                      </li>
                  {% endfor %}
                    <li class="filter-line__item{% if not academy_content_type %} filter-line__item--active{% endif %}">
                        {% if not academy_content_type %}
                        <span>{{ 'all' }}</span>
                        {% else %}
                        <a class="filter-line__link" href="?topic={{ topic }}&alphabetical={{ alphabetical }}">
                            {{ 'all' }}
                        </a>
                        {% endif %}
                    </li>
                </ul>
            </div>

            <div class="col-sm-6 col-lg-2 mb-4 px-0 px-sm-3">
                <div class="filter-line__prefix academy__sans-serif ml-1">{% trans 'Sort by:' %}</div>
                <button class="filter-line__current filter-line__current--small">
                    {% if not alphabetical %}{% trans 'newest' %}{% else %}{% trans 'alphabetical' %}{% endif %}
                </button>

                <ul class="filter-line__list">
                    <li class="filter-line__item{% if not alphabetical %} filter-line__item--active{% endif %}">
                        {% if not alphabetical %}
                          <span>{% trans 'newest' %}</span>
                        {% else %}
                          <a class="filter-line__link" href="?topic={{ topic }}&academy_content_type={{ academy_content_type }}">
                          {% trans 'newest' %}
                          </a>
                        {% endif %}
                    </li>
                    <li class="filter-line__item{% if alphabetical %} filter-line__item--active{% endif %}">
                        {% if alphabetical %}
                          <span>{% trans 'alphabetical' %}</span>
                        {% else %}
                          <a class="filter-line__link" href="?topic={{ topic }}&academy_content_type={{ academy_content_type }}&alphabetical=True">
                              {% trans 'alphabetical' %}
                          </a>
                        {% endif %}
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="container item-list">
        <div class="row justify-content-center justify-content-sm-start">
            {% for content in all_content %}
                {% include "academy/includes/academy_list_item.html" with content=content %}
            {% endfor %}
        </div>
    </div>
</section>

{% if all_content.has_previous or all_content.has_next %}
    {% include "core/includes/pagination.html" %}
{% endif %}

{% endblock %}
