{% extends "base.html" %}
{% load static wagtailcore_tags wagtailimages_tags wagtailembeds_tags i18n bleach_tags %}

{% block fb_meta_tags %}
    <meta property="og:type" content="article" />
    <meta property="og:title" content="{{ page.translated_title }}" />
    {% with description=page.translated_intro|richtext %}
    <meta property="og:description" content="{{ description|bleach }}" />
    {% endwith %}
{% endblock %}

{% block content %}
<div class="container">
    <a href="{{ page.get_parent.url }}" aria-label="{% trans 'To overview' %}">
      <div class="arrow__container ml-1 mb-4">
        <div class="arrow__head arrow--left"></div>
        <div class="arrow__tail"></div>
      </div>
    </a>
    <div class="academy__topic mb-4">{{ page.get_topics_display }} | {{ page.get_page_content_type_display }}</div>
    <h1>{{ page.translated_title }}</h1>
</div>

{% include 'includes/blocks.html' with blocks=self.body %}

{% if page.author %}
    <p class="h4">{% trans 'by' %} {{ page.author}}</p>
{% endif %}


{% endblock %}
