<footer class="footer">
    <div class="container">
        <div class="text-muted">
        	<div class="pull-right">
	        	<i class="fa fa-facebook"></i>
	        	<i class="fa fa-twitter"></i>
	        	<i class="fa fa-vimeo-square"></i>
	        	<i class="fa fa-github"></i>
	        </div>
    		<a href="#">FAQs</a>
    		<a href="#">Satzung</a>
    		<a href="#">Transparenz</a>
    		<a href="#">Presse</a>
    		<a href="#">Kontakt</a>
    		<a href="#">Impressum</a>
    	</div>
    </div>
</footer>