<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="true">Der Verein</a>
                <ul class="dropdown-menu" role="menu">
                    <ul class='list-inline'>
                        <li><a href="#">Über Liqd</a></li>
                        <li><a href="/team">Team</a></li>
                        <li><a href="#">Mitmachen</a></li>
                        <li><a href="/presse">Presse</a></li>
                    </ul>
                </ul>
            </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="true">Entwicklung</a>
                <ul class="dropdown-menu" role="menu">
                    <ul class='list-inline'>
                        <li><a href="#">Adhocracy</a></li>
                        <li><a href="#">Thentos</a></li>
                    </ul>
                </ul>
            </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="true">Forschung</a>
                <ul class="dropdown-menu" role="menu">
                    <ul class='list-inline'>
                        <li><a href="#">Das Netzwerk</a></li>
                        <li><a href="#">Schwerpunkte</a></li>
                    </ul>
                </ul>
            </li>
            <li><a href="/projects">Projekte</a></li>
            <li><a href="/blog">Blog</a></li>
        </ul>
        </div>
    </div>
</nav>