{% extends "base.html" %}
{% load static wagtailcore_tags core_tags bleach_tags %}

{% block fb_meta_tags %}
	<meta property="og:type" content="website" />
	<meta property="og:title" content="{{ page.translated_title }}" />
	{% with description=page.translated_intro|richtext %}
	<meta property="og:description" content="{{ description|bleach }}" />
	{% endwith %}
	<meta property="og:image" content="{{ request.get_host }}{% static 'images/liqd_homepage.png' %}" />
{% endblock %}

{% block content %}

{% include "core/includes/streamfieldpage_simpleheader.html" %}

{% for project in self.projects %}
    {% project_teaser project request %}
{% empty %}
    No projects found
{% endfor %}

{% endblock %}
