{% extends "base.html" %}
{% load static wagtailcore_tags projects_tags wagtailimages_tags bleach_tags %}

{% block fb_meta_tags %}
    <meta property="og:type" content="article" />
    <meta property="og:title" content="{{ page.translated_title }}" />
    {% with description=page.translated_shorttext|richtext %}
    <meta property="og:description" content="{{ description|bleach }}" />
    {% endwith %}
    {% if page.image %}
    {% image page.image width-400 as image %}
    <meta property="og:image" content="{{ request.get_host }}{{ image.url }}" />
    {% else %}
    {% endif %}
{% endblock %}

{% block body_class %}project-page{% endblock %}

{% block content %}
<section style="background-image: linear-gradient(148deg, {{ page.color1 }}, {{ page.color2 }});">
    <div class="container">
        <h1>{{ page.translated_title }}</h1>
        <h2>{{ page.translated_subtitle }}</h2>
    </div>
</section>

<section class="contentwrapper fullwidth project-detail-page-shorttext-top">
    <div class="container">
        <div class="contentwrapper text">
            <div class="project-detail-page-shorttext">
                {{ page.translated_shorttext | richtext }}
            </div>
        </div>
    </div>
</section>


        {% for block in self.body %}
            {% if block.block_type == 'heading' %}
            <div class="container">
                <div class="contentwrapper text project_page_body">
                    <div class="project_page_block_heading">
                        <h2>{{ block.value }}</h2>
                    </div>
                </div>
            </div>
            {% endif %}

            {% if block.block_type == 'image' %}
            <div class="container">
                <div class="contentwrapper text project_page_body">
                    <div class="project_page_block_image">
                        {% image block.value fill-800x600 as my_image %}
                        <img class="photo" src="{{ my_image.url }}" alt="{{ my_image.alt }}">
                    </div>
                </div>
            </div>
            {% endif %}

            {% if block.block_type == 'video' %}
            <div class="container">
                <div class="contentwrapper text project_page_body">
                    <div class="project_page_block_video">
                        <div class="embed-responsive embed-responsive-16by9">
                            {{ block.value }}
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}

            {% if block.block_type == 'paragraph' %}
            <div class="container">
                <div class="contentwrapper text project_page_body">
                    <div class="project_page_block_paragraph">
                        {{ block.value }}
                    </div>
                </div>
            </div>
            {% endif %}

            {% if block.block_type == 'persons' %}
            <div>
            {{ block.value }}
            </div>
            {% endif %}

        {% endfor %}
    </div>
</div>









{% endblock %}
