{% extends "base.html" %}
{% load static i18n wagtailcore_tags bleach_tags %}

{% block fb_meta_tags %}
	<meta property="og:type" content="website" />
	<meta property="og:title" content="{{ page.translated_title }}" />
	{% with description=page.translated_intro|richtext %}
	<meta property="og:description" content="{{ description|bleach }}" />
	{% endwith %}
{% endblock %}

{% block content %}
<div class="container">
    <div class="filter-line filter-line--centered">
        <h1 class="filter-line__prefix">{% trans 'Projects related to' %}</h1>
        <button class="filter-line__current">{{ category }}</button>
        <ul class="filter-line__list">
        {% for categ in categories %}
            <li class="filter-line__item">
                <a class="filter-line__link" href="?category={{ categ.pk }}"> {{ categ.translated_name }}</a>
            </li>
        {% endfor %}
        </ul>
    </div>
</div>

{% for project in projects %}
    {% include 'projects/project_teaser.html' with project=project number=forloop.counter0|divisibleby:2 %}
{% empty %}
    {% trans 'No projects found' %}
{% endfor %}


<ul>
    {% if projects.has_previous %}
        <li><a href="?page={{ projects.previous_page_number }}{% for key, value in request.GET.items %}{% if key != 'page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}">{% trans 'previous'%}</a></li>
    {% endif %}
    {% if projects.has_next %}
        <li><a href="?page={{ projects.next_page_number }}{% for key, value in request.GET.items %}{% if key != 'page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}">{% trans 'next'%}</a></li>
    {% endif %}
</ul>



{% endblock %}
