{% extends "base.html" %}
{% load static wagtailcore_tags wagtailimages_tags bleach_tags %}

{% block fb_meta_tags %}
    <meta property="og:type" content="article" />
    <meta property="og:title" content="{{ page.translated_title }}" />
    {% with description=page.translated_shorttext|richtext %}
    <meta property="og:description" content="{{ description|bleach }}" />
    {% endwith %}
    {% if page.image %}
    {% image page.image width-400 as image %}
    <meta property="og:image" content="{{ request.get_host }}{{ image.url }}" />
    {% else %}
    {% endif %}
{% endblock %}

{% block body_class %}project-page{% endblock %}

{% block content %}
<section class="intro-screen" style="color: {{ page.textcolor }}; background-image: linear-gradient(148deg, {{ page.color1 }}, {{ page.color2 }});">
    <div class="container">
        <h1>{{ page.translated_title }}</h1>
    </div>
</section>

{% include 'includes/blocks.html' with blocks=page.body %}
{% endblock %}
