{% extends "base.html" %}
{% load static wagtailcore_tags bleach_tags %}

{% block fb_meta_tags %}
	<meta property="og:type" content="website" />
	<meta property="og:title" content="{{ page.translated_title }}" />
	{% with description=page.translated_intro|richtext %}
	<meta property="og:description" content="{{ description|bleach }}" />
	{% endwith %}
{% endblock %}

{% block content %}

{% for project in self.projects %}
    {% include 'projects/project_teaser.html' with project=project number=forloop.counter0|divisibleby:2 %}
{% empty %}
    No projects found
{% endfor %}

{% endblock %}
