{% extends "base.html" %}
{% load static i18n wagtailcore_tags bleach_tags %}

{% block fb_meta_tags %}
	<meta property="og:type" content="website" />
	<meta property="og:title" content="{{ page.translated_title }}" />
	{% with description=page.translated_intro|richtext %}
	<meta property="og:description" content="{{ description|bleach }}" />
	{% endwith %}
{% endblock %}

{% block content %}
{% trans 'all topics' as all %}
    <div class="filter-line filter-line--centered">
        <h1 class="filter-line__prefix">{% trans 'Projects related to' %}</h1>
        <button class="filter-line__current">{% firstof category.translated_name all %}</button>
        <ul class="filter-line__list">
        {% for categ in categories %}
            <li class="filter-line__item{% if categ.pk == category.pk %} filter-line__item--active{% endif %}">
            {% if categ.pk == category.pk %}
                <span>{{ categ.translated_name }}</span>
            {% else %}
                <a class="filter-line__link" href="?category={{ categ.pk }}">
                    {{ categ.translated_name }}
                </a>
            {% endif %}
            </li>
        {% endfor %}
            <li class="filter-line__item{% if not category %} filter-line__item--active{% endif %}">
                {% if not category %}
                    <span>{{ all }}</span>
                {% else %}
                    <a class="filter-line__link" href="?">
                        {{ all }}
                    </a>
                {% endif %}
            </li>
        </ul>
    </div>

<div class="project-list item-list">
{% include 'projects/project_list.html' %}
</div>

{% if projects.has_next %}
<div class="load-more" data-page-total="{{ page_number }}">
    <button class="h3">{% trans 'load more' %}</button>
</div>
{% endif %}

{% endblock %}
