{% extends "base.html" %}

{% load static i18n core_tags projects_tags blog_tags %}

{% block fb_meta_tags %}
	<meta property="og:type" content="website" />
	<meta property="og:title" content="{% trans 'Homepage of Liquid Democracy' %}" />
	<meta property="og:description" content="{% trans 'Our mission is to promote the advantages of online participation in all kinds of contexts, from international organisations to small local initiatives.' %}" />
{% endblock %}

{% block body_class %}template-{{ self.get_verbose_name|slugify }}{% endblock %}

{% block content %}

<section class="container">
    {{ page.translated_intro|richtext }}
</section>


{% for block in page.body %}
    {{ block }}
{% endfor %}

{% blog_entries %}

{% endblock %}
