{% extends "base.html" %}

{% load static i18n wagtailcore_tags wagtailimages_tags core_tags blog_tags %}

{% block fb_meta_tags %}
	<meta property="og:type" content="website" />
	<meta property="og:title" content="{% trans 'Homepage of Liquid Democracy' %}" />
	<meta property="og:description" content="{% trans 'Our mission is to promote the advantages of online participation in all kinds of contexts, from international organisations to small local initiatives.' %}" />
{% endblock %}

{% block body_class %}homepage{% endblock %}

{% block content %}
<div class="home-logo">
    <canvas id="canvas-home" class="home-logo__canvas"></canvas>
</div>
<section class="container home-logo__lead">
    <div class="lead">
        {{ page.translated_intro|richtext }}
    </div>
</section>

{% include 'includes/blocks.html' with blocks=page.body %}

{% blog_entries %}

    <div class="row-right">
        <div class="col-sm-5">
            {% if settings.core.AddressSettings %}
                <p>
                    {{ settings.core.AddressSettings.organisation_name }}<br>
                    {{ settings.core.AddressSettings.organisation_street }}<br>
                    {{ settings.core.AddressSettings.postalcode }}<br>

                    {% if settings.core.AddressSettings.telephone_number %}
                    {{ settings.core.AddressSettings.telephone_number }}<br>
                    {% endif %}

                    {% if settings.core.AddressSettings.email_address %}
                    {{ settings.core.AddressSettings.email_address }}
                    {% endif %}
                </p>
            {% endif %}

            {% if settings.core.SocialMediaSettings %}
                <p>
                    {% if settings.core.SocialMediaSettings.facebook %}
                    <a href="{{settings.core.SocialMediaSettings.facebook}}">Facebook</a><br>
                    {% endif %}

                    {% if settings.core.SocialMediaSettings.twitter %}
                    <a href="https://twitter.com/{{settings.core.SocialMediaSettings.twitter}}">Twitter</a><br>
                    {% endif %}

                    {% if settings.core.SocialMediaSettings.github %}
                    <a href="{{settings.core.SocialMediaSettings.github}}">Github</a><br>
                    {% endif %}

                    {% if settings.core.SocialMediaSettings.vimeo %}
                    <a href="{{settings.core.SocialMediaSettings.vimeo}}">Vimeo</a>
                    {% endif %}
                </p>
            {% endif %}
        </div>

        <div class="col-sm-7">
            {% if settings.core.AddressSettings and settings.core.AddressSettings.image %}
                {% image settings.core.AddressSettings.image height-500 %}
                <p class="h4 mt-2">
                    <a href="https://goo.gl/maps/MNziS2rjmNQ2">{% trans 'See on google maps' %}</a>
                </p>
            {% endif %}
        </div>
    </div>

{% endblock %}
