{% extends "base.html" %}
{% load static i18n wagtailimages_tags wagtailcore_tags core_tags %}

{% block fb_meta_tags %}
	<meta property="og:type" content="article" />
	<meta property="og:title" content="{{ page.translated_title }}" />
	{% with description=page.translated_intro|richtext %}
	<meta property="og:description" content="{{ description|clean_html_all }}" />
	{% endwith %}
{% endblock %}

{% block content %}

{% include "core/includes/streamfieldpage_simpleheader.html" %}

{% include 'includes/blocks.html' with blocks=page.body %}

{% endblock %}
