{% load wagtailimages_tags %}
<section class="row">
    {% image value.image width-600 jpegquality-100 as block_image %}
    <figure class="image-with-caption col-md-5 col-sm-12">
        <img class="photo" src="{{ block_image.url }}" alt="{{ block_image.alt }}">
        {% if block_image.caption or block_image.copyright %}
            <figcaption class="image-with-caption__figcaption">
                {% if block_image.caption %}
                <div>
                    {{ block_image.caption }}
                </div>
                {% endif %}

              {% if block_image.copyright %}
                <div class="image-with-caption__copyright">
                    {{ block_image.copyright }}
                </div>
              {% endif %}
            </figcaption>
        {% endif %}
    </figure>
    <div class="offset-md-1 col-md-6 col-sm-12">
        <div class="mb-2 academy-block__topic">{{ value.category }}</div>
        <h2 class="mb-2">{{ value.headline }}</h2>
        <p class="mb-5">{{ value.body_text }}</p>

        {% if value.externlink %}
            <a href="{{ value.externlink }}" target="_blank">{{ value.link_text }}</a>
        {% elif value.link.live %}
            <a href="{{ value.link.url }}" >{{ value.link_text }}</a>
        {% endif %}
    </div>
</section>
