$navbar_hight: 65px;
$navbar_background_color: #FFFFFF;
$navbar_border_color: #E7E7E7;
$navbar_dropdown_menu_background_color: #112233;
$navbar_dropdown_menu_padding: 15px;

// navbar

.navbar-fixed-top {
    min-height: $navbar_hight;
}

.navbar-nav > li > a {
    padding-top: 0px;
    padding-bottom: 0px;
    line-height: $navbar_hight;
}

.navbar-default {
    background-color: $navbar_background_color;
    border-color: $navbar_border_color;
}

.dropdown-menu {
    background-color: $navbar_dropdown_menu_background_color;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border-radius: 0;
    min-width: 300px;
}

// dropdown

.dropdown-menu .list-inline > li > a {
    color: $navbar_background_color;
}

.dropdown-menu .list-inline {
    margin-left : 0px;
    padding-left: $navbar_dropdown_menu_padding;
    padding-top: 5px;
    padding-bottom: 5px;

}

.dropdown-menu .list-inline > li {
    padding-left: 0px;
    padding-right: $navbar_dropdown_menu_padding;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
    background-color : $navbar_background_color;
}

.navbar-right .dropdown-menu {
    @media (min-width: 768px){
        right: 0px;
        left: auto;
    }
}

// triangle

.dropdown-menu:before {
    position: absolute;
    top: -7px;
    left: 48%;
    display: inline-block;
    border-right: 7px solid transparent;
    border-bottom: 7px solid #112233;
    border-left: 7px solid transparent;
    border-bottom-color: rgba(0, 0, 0, 0.2);
    content: '';
}

.dropdown-menu:after {
    position: absolute;
    top: -7px;
    left: 48%;
    display: inline-block;
    border-right: 7px solid transparent;
    border-bottom: 7px solid #112233;
    border-left: 7px solid transparent;
    content: '';
}